$color1: #112f41;
$color2: hsl(181, 91%, 28%);
$color3: #4fb99f;
$color4: #f2b134;
$color5: #ed553b;

$button-color: $color1;
$button-text-active-color: $color4;
$button-text-color: $color3;
$button-border-color: $color2;

$expression-color: $color2;
$expression-text-color: $color4;

$ans-color: $color4;
$ans-text-color: $color5;

$results-color: $color1;
$results-text-color: $color3;

$logo-background: #FFF;
